@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Text color (black) */
  --background-start-rgb: 255, 255, 255; /* Background color (white) */
  --background-end-rgb: 255, 255, 255; /* Background color (white) */
}

body {
  font-family: 'Oxanium Variable', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

